@charset "utf-8";
body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl ,dt, dd{
    margin: 0;
}
body{
    color:#333;
    font: 12px 'Helvetica';
}
a {
    text-decoration:none;
} 
/*解决谷歌浏览器选中输入框背景色变黄*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}